<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL SHORTNER</h1>

<% if (locals.id) { %>
    <p>URL Generated is http://localhost:8001/url/<%=id%></p> %>
<% } %>
  

    <form method="POST" action="/url">
       
  <input type="text" placeholder="enter url " name="url">
  <input type="submit" value="GENERATE URL">
    </form>
</body>
</html>